---
- name: Add i386 architecture
  become: true
  ansible.builtin.command: dpkg --add-architecture i386

- name: Ensure keyrings directory exists
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Import Wine GPG key
  become: true
  ansible.builtin.get_url:
    url: https://dl.winehq.org/wine-builds/winehq.key
    dest: /etc/apt/keyrings/winehq-archive.key
    mode: '0644'
    force: true

- name: Add WineHQ repository
  become: true
  ansible.builtin.deb822_repository:
    name: winehq
    types: [deb]
    uris: "https://dl.winehq.org/wine-builds/ubuntu"
    signed_by: /etc/apt/keyrings/winehq-archive.key
    suites: ["{{ ansible_distribution_release | lower }}"]
    components: [main]
    state: present

- name: Install WineHQ
  become: true
  ansible.builtin.apt:
    name:
      - winehq-stable
    install_recommends: true
    state: present
    update_cache: true
    cache_valid_time: 3600
