---
- name: Install acpi, tlp & powertop
  become: true
  ansible.builtin.apt:
    name:
      - acpi
      - powertop
      - tlp
      - tlp-rdw
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Enable TLP service
  become: true
  ansible.builtin.systemd_service:
    name: tlp
    enabled: true
    state: started

- name: Run Dell specific optimization
  ansible.builtin.include_tasks: dell.yaml
  when:
    - ansible_facts.chassis_vendor == "Dell Inc."
    - battery.enable_dell | default(false) | bool

- name: Disable Bluetooth in /etc/bluetooth/main.conf
  become: true
  ansible.builtin.lineinfile:
    path: /etc/bluetooth/main.conf
    regexp: '^AutoEnable=true'
    line: 'AutoEnable=false'
    state: present
    backup: true
  when: ansible_facts.os_family == "Debian"

# # Does not work yet, this is not valid after reboot
# # Does not work yet, this is not valid after reboot
# # Does not work yet, this is not valid after reboot
# # Does not work yet, this is not valid after reboot
# - name: Disable Docker network nic:docker0
#   become: true
#   ansible.builtin.command:
#     ifconfig docker0 down

