---
- name: Ensure keyrings directory exists
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Import Docker GPG key
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
    force: true

- name: Add Docker repository
  become: true
  ansible.builtin.deb822_repository:
    name: docker
    types: [deb]
    uris: "https://download.docker.com/linux/ubuntu"
    signed_by: /etc/apt/keyrings/docker.asc
    suites: ["{{ ansible_distribution_release | lower }}"]
    components: [stable]
    architectures: [amd64]
    state: present

- name: Install Docker tools
  become: true
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Create Docker group
  ansible.builtin.group:
    name: docker
    state: present

- name: Add current user to the Docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true

- name: Enable systemd docker.socket for on-demand daemon
  ansible.builtin.systemd_service:
    name: docker.socket
    enabled: true
    state: started

- name: Disable systemd docker.service for on-demand daemon
  ansible.builtin.systemd_service:
    name: docker.service
    enabled: false

- name: Disable systemd containerd.service for on-demand daemon
  ansible.builtin.systemd_service:
    name: containerd.service
    enabled: false

- name: Configure Docker daemon.json
  become: true
  ansible.builtin.copy:
    src: daemon.json
    dest: /etc/docker/daemon.json
    mode: '0644'
  notify:
    - Restart Docker Service
