---
- name: Install base packages
  become: true
  ansible.builtin.apt:
    name:
      - build-essential
      - ca-certificates
      - curl
      - fzf
      - git
      - gnupg
      - htop
      - tmux
      - tree
      - zsh
    state: present
    update_cache: true
    cache_valid_time: 3600
